@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<AuthorizeView>
    <Authorized>
        <p>Hello, @context.User.Identity.Name!</p>
        <a href="MicrosoftIdentity/Account/SignOut">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn">Login</a>
    </NotAuthorized>
</AuthorizeView>
